---
import Layout from '../layouts/Layout.astro';
import blogSection from '../components/blogSection.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-black">
		<blogSection/>
		<slot/>
	</main>
</Layout>

<style>
	main{
		background-color: black;
	}
</style>
