@import url('https://fonts.googleapis.com/css?family=Pixelify%20Sans:700|Pixelify%20Sans:400');

body {
  font-family: 'Pixelify Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Pixelify Sans';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root[data-theme="light"] {
  --text: #40463f;
  --background: #f0efef;
  --primary: #f99090;
  --secondary: #e2abab;
  --accent: #fbefef;
}
:root[data-theme="dark"] {
  --text: #bac0b9;
  --background: #100f0f;
  --primary: #6f0606;
  --secondary: #541d1d;
  --accent: #100404;
}


/* Añade estilos específicos para todo */
*{
  list-style: none;
  text-decoration: none;
  color: var(--text);
}

body{
  background-color: var(--background);
}

body :not(header) a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

body :not(header) a:hover {
  color: var(--accent);
}


/* Añade estilos específicos para el header*/
header{
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 1rem;
    color: var(--text);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .logo-img {
    width: 50px;
    height: 50px;
  }
  
  
  ul{
    display: flex;
  }
  
  header ul li a {
    color:var(--text);
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  header ul li a:hover {
    color: white;
    background-color: black;
  }

  .theme-switch {
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .theme-switch:hover {
    transform: scale(1.2);
    color: var(--primary);
  }

  .header-icon{
    width: 50px;
    margin-top: 19px;
    margin-left: 40px;
  }

/*Display en forma de cuadricula*/
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
}

/* Estilo para cada sección */
section {
  text-align: center;
  padding: 20px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--accent);
}

/*Conocimientos*/
.skills-icons{
  font-size: 2rem;
  margin-bottom: 10px;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#Conocimientos .icon-div {
  text-align: center;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}

.icon-div {
  text-align: center;
  margin: 10px;
}

.skills-ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.skills-ul li {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.skills-ul li:hover {
  background-color: #f0f0f0;
}

/*Conocimientos*/
.skills-icons {
  font-size: 2rem;
  margin-bottom: 10px;
}

#Conocimientos {
  text-align: center;
}

.icon-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; 
  justify-content: center;
}

.skills-ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.skills-ul li {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.skills-ul li:hover {
  background-color: #f0f0f0;
}

/*Tecnologias*/
#Tecnologias {
  padding: 50px;
  color: var(--background);
}

.tecnology-h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.tecnology-h4 {
  background-color: var(--secondary);
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.tecnology-h4-isa:hover{
  background-color:var(--primary);
  transition: all ease 0.1s;
}

.tecnologia {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 15px;
}

.tecnologia:hover {
  background-color: var(--secondary);
  transition: all ease 0.3s;
}

.tecnologia h3,
.tecnologia p {
  margin-top: 10px;
}

.tecnologia h3,
.tecnologia p,
.tecnologia a {
  text-align: center;
}

.backend-dev,.frontend-dev{
  text-align: center;
}

.frontend-dev .tecnologia,
.backend-dev .tecnologia {
  border-color: var(--secondary);
}

.frontend-dev .tecnologia:hover,
.backend-dev .tecnologia:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.frontend-dev .tecnologia:hover,
.backend-dev .tecnologia:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Proyectos*/
#Proyectos {
  padding: 50px;
  color: var(--background);
}

.proyect-h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.proyect-a {
  color: var(--accent);
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.proyect-a:hover {
  color: var(--secondary);
  text-decoration: none;
}

.proyecto {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.proyecto img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.proyecto h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.proyecto p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.proyecto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: var(--accent);
  z-index: -1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.proyectos-extra {
  display: none;
}

.proyectos-extra.show-more {
  display: block;
}

.toggle-more {
  text-align: center;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.toggle-more:hover {
  background-color: var(--background);
  color: var(--text);
}

/* Estilos específicos para el footer */
footer {
  color: var(--text);
  padding: 20px;
  text-align: center;
}

.about-section, .contact-section, .bottom-section {
  margin-bottom: 20px;
}

hr {
  border: 1px solid var(--text);
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fot-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: var(--secondary);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fot-icons:hover {
  background-color: var(--primary);
}

.fot-icons i {
  font-size: 24px;
  color: var(--text);
}

.bottom-section h3 {
  margin-top: 20px;
}
